.slideContent { 
    display: grid; 
    grid-template-areas: 
    "header header"
    "description description"
    "input result"
    "columns columns";

    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content min-content 1fr min-content;

    row-gap: 0.5rem;
    gap: 1rem;
}

.slideContent .header { 
    grid-area: header;
}

.slideContent .description { 
    grid-area: description;
}

.slideContent .input { 
    grid-area: input; 
}

.slideContent .result { 
    grid-area: result;
}

.slideContent .columns { 
    grid-area: columns;
}

