@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Code Editor CSS */
.monaco-editor,
.overflow-guard {
  border-radius: 8px;
  border: 1px solid var(--tertiary-highlight);
}

:root {
  /* Surfaces  */
  --background: #0e0e0e;
  --primary-surface: #161616;;
  --secondary-surface: #282828;
  --primary-surface-highlight: #3f3f3f;

  --primary-accent: #008764;
  --secondary-accent: #5da690;
  --tertiary-accent: #5D6CA6; 

  --primary-accent-hover: #00a97c;
  --secondary-accent-hover: #75ccb2;
  --tertiary-accent-hover: #7a8aca;

  --primary-global: #004687;
  --primary-global-hover: #005bb0; 

  /* Brand */ 
  --brand: #005E46;

  /* Text */
  --display-font: "Inter";
  --primary-surface-text: #fff;
}

@theme {
  /* Font */
  --font-sans: var("--display-font");

  /* Background */
  --color-background: var(--background);

  /* Surfaces */
  --color-primary-surface: var(--primary-surface);
  --color-secondary-surface: var(--secondary-surface);
  --color-primary-surface-highlight: var(--primary-surface-highlight);
  
  --color-primary-accent: var(--primary-accent);
  --color-primary-accent-hover: var(--primary-accent-hover);
  --color-secondary-accent: var(--secondary-accent);
  --color-secondary-accent-hover: var(--secondary-accent-hover);
  --color-tertiary-accent: var(--tertiary-accent); 
  --color-tertiary-accent-hover: var(--tertiary-accent-hover); 


  /* Brand */
  --color-brand: var(--brand);

  --color-primary-global: var(--primary-global);
  --color-primary-global-hover: var(--primary-global-hover);



  /* Text */
  --color-primary-text: var(--primary-surface-text);
}
